html{
  font-size:62.5%;
  box-sizing: border-box;
}




body{
  margin:0;
  height: 100vh;
  font-size:1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
}


.grid-container{
  display: grid;
  grid-template-areas: "header""main""footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;

}

header{
  grid-area: header;
  background-color: #203040;
}

main{
  grid-area: main;
  padding: 1rem;
}

footer{
  grid-area: footer;
  color: #ffffff;
  background-color: #203040;
}



/*Common*/
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center{
  justify-content:center;
}

a{
  text-decoration: none;
}

a:hover{
  color:#ff8000;
}

header a {
  color: #ffffff;
  padding: 1rem;
}

a.brand{
color: #ffffff;
font-size: 3rem;
font-weight: bold;  
}

img{
  border-radius: 0.5rem;
}

img.medium{
  max-width: 29rem;
  width:100%
}

/* Card */

.card{
  border: 0.1 rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body{
  padding: 1rem;
}


.price{
  font-size: 2rem;
}

/* Rating */

.rating span{
  color: #f0c040;
  margin:0.1rem;
}